.SendMessage {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.SendMessage__Input {
    width: 100%;
}

.SendMessage__Send {
    right: 0px;
    top: 0px;
}